<section style="width: 20rem;" class="mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h2>帳號資訊</h2>

    <div class="field my-3">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="field my-3">
      <%= f.label :password, class: "form-label" %> <i class="text-black-50">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length %>
    </div>

    <div class="field my-3">
      <%= f.label :password_confirmation, class: "form-label" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>

    

    <h2>個人資訊</h2>

    <div class="field my-3">  
      <%= image_tag(resource.avatar_url, class: 'image-preview') if resource.avatar? %>
    </div>

    <div class="field my-3">
      <%= f.label "大頭照", class: "form-label" %><br />
      <%= f.file_field :avatar, class: "form-control" %>
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="field my-3">
      <%= f.label "個人名稱", class: "form-label" %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="actions my-3">
      <%= f.submit t('.update'), class: "btn btn-warning" %>
    </div>
  <% end %>

  <h3><%= t('.cancel_my_account') %></h3>

  <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), class: "btn btn-outline-danger", data: { confirm: t('.are_you_sure') }, method: :delete %></p>

  <%= link_to t('devise.shared.links.back'), :back %>
</section>