<section style="width: 20rem;" class="mx-auto">
  <%= form_for(@shop) do |f| %>

    <h2>賣場資訊</h2>
    <hr>

    <div class="field my-3">  
      <%= image_tag(@shop.cover_url, class: 'image-preview') if @shop.cover? %>
    </div>

    <div class="field my-3">
      <%= f.label "賣場封面", class: "form-label" %><br />
      <%= f.file_field :cover, class: "form-control" %>
    </div>

    <div class="field my-3">
      <%= f.label "賣場名稱", class: "form-label" %><br />
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field my-3">
      <%= f.label "賣場介紹", class: "form-label" %><br />
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <h2>進階設定</h2>
    <hr>
    <div class="field my-3">
      <%= f.label "粉絲專頁編號", class: "form-label" %><br />
      <%= f.text_field :fb_page_id, class: "form-control" %>
    </div>

    <div class="field my-3">
      <%= f.label "粉絲專頁權杖", class: "form-label" %><br />
      <%= f.text_field :fb_page_access_token, class: "form-control" %>
    </div>

    <div class="actions my-3">
      <%= f.submit "更新", class: "btn btn-warning" %>
    </div>
  <% end %>
</section>