<header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <%= link_to("Ⓡ EC 商城", root_path, class: "navbar-brand") %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a href="#" class="nav-link px-2 text-white">商店街</a></li>
        <li><a href="#" class="nav-link px-2 text-white">商店街</a></li>
        <li><a href="#" class="nav-link px-2 text-white">商店街</a></li>
        <li><a href="#" class="nav-link px-2 text-white">商店街</a></li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-end">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to "#{ (current_user.name.nil? ? "貴賓" : current_user.name) }, 您好", "#", class: "nav-link dropdown-toggle", id: "dropdown", role: "button", "aria-expanded": false, data: { "bs-toggle": "dropdown" } %>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
              <li><%= link_to "個人資料", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "登出", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= link_to "店家登入", new_user_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to "店家註冊", new_user_registration_path, class: "btn btn-warning" %>
        <% end %>
      </ul>
    </div>
  </div>
</header>